@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@font-face {
    font-family: 'PlaylistScript';
    font-display: block;
    unicode-range: U+000-5FF;
    src: url('./fonts/PlaylistScript.ttf') format('truetype');
}

@font-face {
    font-family: 'Caveat-SemiBold';
    font-display: block;
    unicode-range: U+000-5FF;
    src: url('./fonts/Caveat-SemiBold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 700px;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo {
    position: relative;
    max-width: 100px;
}

header a {
    position: relative;
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 0 10px;

}

.nav:after {
    content: "";
    position: absolute;
    background-color: #ffb2e1;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}

.nav:hover {
    color: #ffb2e1;
}

.nav:hover:after {
    width: 100%;
    left: 0;
}

header a h2 {
    color: #fff;
    margin-left: 10px;
    font-family: 'PlaylistScript', sans-serif;
    font-size: 2em;
    font-weight: 100;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 500px;
    margin-right: 20px;
}

.content .textBox h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 600;
    font-family: 'Caveat-SemiBold', sans-serif;
}

.content .textBox p {
    color: #fff;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    background: #ffb2e1;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 22px;
    width: 143px;
    height: 45px;
    border: none;
}

.content .textBox a:hover {
    border: 2px solid #ffb2e1;
    background: transparent;
    padding: 8px 20px;
    color: #ffb2e1;
}

.content .imgBox {
    position: relative;
    max-width: 550px;
    display: flex;
}

.content .imgBox img {
    max-width: 150;
}



/** SLIDERR **/
.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 270px;
    height: 500px;
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.custom-shape-divider-bottom-1680759513 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680759513 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1680759513 .shape-fill {
    fill: #FFFFFF;
}

.component {
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component .title {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.component .title p {
    padding-top: 20px;
}

.component .list {
    padding-top: 50px;
    position: relative;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    justify-content: space-around;

}

.component .list .listItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
}

.component .list .listItem:hover {
    transform: translateY(-10px);
}

.component .list .listItem h3 {
    font-weight: 300;
}


.component .list .listItem img {
    padding: 30px;
    width: 250px;
}

@media (max-width: 1100px) {
    header a h2 {
        min-width: 180px;
    }

    header .navigation li a {
        margin-left: 20px;
    }

    .content .textBox {
        min-width: 400px;
    }

    .content .imgBox {
        min-width: 400px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 350px;
    }
}

@media (max-width: 991px) {
    section {
        padding: 0px;
    }

    header {
        padding: 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffb2e1;
        display: flex;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .navigation li a {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }

    .content {
        padding-top: 120px;
        flex-direction: column;
    }

    .content .textBox {
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
        min-width: 200px;
        max-width: 100%;
    }

    .content .imgBox {
        padding-bottom: 100px;
        min-width: 200px;
        max-width: 100%;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(./icon/menu.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active {
        position: fixed;
        right: 40px;
        background: url(./icon/close.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (max-width: 350px) {
    header a h2 {
        display: none;
    }
}