@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@font-face {
    font-family: 'JungleAdventurer';
    font-display: block;
    unicode-range: U+000-5FF;
    src: url('./fonts/JungleAdventurer.ttf') format('truetype');
}

@font-face {
    font-family: 'JungleFeverNF';
    font-display: block;
    unicode-range: U+000-5FF;
    src: url('./fonts/JungleFeverNF.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body.background {
    background-image: url('images/matmat/260A6460.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.section {
    position: relative;
    width: 100%;
    min-height: 120vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo {
    position: relative;
    max-width: 100px;
}

#sponsors .list {
    margin-top: 70px;
    padding: 50px;
    height: auto;
    column-count: 3;
    column-gap: 20px; /* Optional: Adjusts the space between columns */
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#sponsors ul {
    color: #D4AF37;
    text-shadow: 1px 1px 1px rgb(0, 0, 0),
        /* Subtle shadow for depth */
        0 0 5px #000000,
        /* Outer glow effect */
        0 0 10px #000000,
        /* Outer glow effect */
        0 0 15px #000000;
    /* Stronger outer glow */
    list-style-type: none;
    /* Removes bullet points */
    padding-left: 0;
    /* Removes default padding */
}

li {
    break-inside: avoid;
    /* Prevents items from breaking between columns */
    margin-bottom: 5px;
    /* Optional: Adds space between list items */
}

header a {
    color: #D4AF37;
    text-shadow: 1px 1px 1px rgb(0, 0, 0),
        /* Subtle shadow for depth */
        0 0 5px #000000,
        /* Outer glow effect */
        0 0 10px #000000,
        /* Outer glow effect */
        0 0 15px #000000;
    /* Stronger outer glow */
    position: relative;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.nav:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}

.nav:hover {
    color: #ffffff;
}

.nav:hover:after {
    width: 100%;
    left: 0;
}

header a h2 {
    font-family: 'JungleFeverNF', sans-serif;
    font-size: 2em;
    font-weight: 100;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #D4AF37;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content .textBox {
    position: relative;
    min-width: 500px;
    margin-right: 20px;
    margin-top: 30px;
}

.content .textBox h2 {
    color: #D4AF37;
    text-shadow: 1px 1px 1px rgb(0, 0, 0),
        /* Subtle shadow for depth */
        0 0 5px #000000,
        /* Outer glow effect */
        0 0 10px #000000,
        /* Outer glow effect */
        0 0 15px #000000;
    font-size: 4.5em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 600;
    font-family: 'JungleAdventurer', sans-serif;
}

.content .textBox p {
    color: #ffc300;
    text-shadow: 1px 1px 1px rgb(0, 0, 0),
        /* Subtle shadow for depth */
        0 0 5px #000000,
        /* Outer glow effect */
        0 0 10px #000000,
        /* Outer glow effect */
        0 0 15px #000000;
    /* Stronger outer glow */
    /* Gold color */
    /* Black background with 50% opacity */
    border-radius: 5px;
    /* Optional: Add rounded corners */
    width: 400px;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    background: #D4AF37;
    color: #000000;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 22px;
    width: 143px;
    height: 45px;
    border: none;
}

.content .textBox a:hover {
    border: 2px solid #000000;
    background: transparent;
    padding: 8px 20px;
    color: #000000;
}

.content .imgBox {
    min-width: 550px;
    text-align: right;
}

.countdown {
    color: #D4AF37;
    text-shadow: 1px 1px 1px rgb(0, 0, 0),
        /* Subtle shadow for depth */
        0 0 5px #000000,
        /* Outer glow effect */
        0 0 10px #000000,
        /* Outer glow effect */
        0 0 15px #000000;
    font-size: 3em;
}

.gallery {
    margin-top: 70px;
    column-count: 5;
    /* Number of columns */
    column-gap: 0;
    /* Remove space between columns */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.gallery-item {
    break-inside: avoid;
    /* Prevents items from breaking between columns */
    width: 100%;
    /* Ensure the images take full width */
    position: relative;
    /* Positioning for the loader */
    overflow: hidden;
    padding: 10px;
}

.gallery-item img {
    width: 100%;
    min-height: 100px;
    /* Maintain aspect ratio */
    display: none;
    /* Initially hidden until loaded */
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Smooth hover effect and fade-in */
    opacity: 0;
}

.gallery-item img.loaded {
    display: block;
    opacity: 1;
    
}

.gallery-item img:hover {
    transform: scale(1.1);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


.event-details {
    margin-top: 50px;
    width: 100%;
}

.event-details h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.event-details h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.event-details p {
    font-size: 1em;
    line-height: 1.6;
    margin-left: 20px;
}

iframe {
    margin-top: 50px;
}


/** SLIDERR **/
.swiper {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 270px;
    height: 500px;
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

.custom-shape-divider-bottom-1680759513 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680759513 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1680759513 .shape-fill {
    fill: #FFFFFF;
}

.component {
    padding: 50px 100px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.component .title {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.component .title p {
    padding-top: 20px;
}

.component .list {
    width: 100%;
    padding-top: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    justify-items: center;
    gap: 50px
}

.component .list .listItem {
    text-align: center;
    cursor: pointer;
    width: 200px;
}

.component .list .listItem:hover {
    transform: translateY(-10px);
}

.component .list .listItem h3 {
    font-weight: 300;
}


.component .list .listItem img {
    width: 200px;
}



.custom-shape-divider-top-1680828191 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1680828191 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1680828191 .shape-fill {
    fill: #FFFFFF;
}

.custom {
    padding: 50px 100px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.title1 {
    color: #D4AF37;
    text-shadow: 1px 1px 1px rgb(0, 0, 0),
        /* Subtle shadow for depth */
        0 0 5px #000000,
        /* Outer glow effect */
        0 0 10px #000000,
        /* Outer glow effect */
        0 0 15px #000000;
    /* Stronger outer glow */
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.title1 p {
    padding-top: 20px;
}

.floral {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 50px;
}

.textFloral {
    max-width: 500px;
    text-align: right;
}

.textFloral h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 600;
    font-family: 'Caveat-SemiBold', sans-serif;
}

.textFloral p {
    color: #fff;
}

.imgFloral {
    max-width: 540px;
}


.floral-reverse {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 50px;
}

.textFloral-reverse {
    max-width: 500px;
}

.textFloral-reverse h2 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 600;
    font-family: 'Caveat-SemiBold', sans-serif;
}

.textFloral-reverse p {
    color: #fff;
}

.imgFloral-reverse {
    width: 540px;
}



.reminders {
    padding-top: 100px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-around;
    align-items: start;
}

.reminders-item {
    position: relative;
    max-width: 150px;
    justify-content: center;
    text-align: center;
}

.component .reminders-item h3 {
    font-weight: 350;
    font-size: 1em;
}

.component .reminders-item img {
    width: 100px;
}

.about {
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 50px;
}

.mapAbout {
    width: 500px;
}

.textAbout {
    color: #fff;
    width: 500px;
}

.textAbout h2 {
    color: #fff;
    width: 500px;
    font-family: 'Caveat-SemiBold', sans-serif;
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 600;
}

.others {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Caveat-SemiBold', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
}

.others div {
    max-width: 300px;
}

.others img {
    max-width: 300px;
}

.others h1 {
    font-family: 'Caveat-SemiBold', sans-serif;
}


@media (max-width: 1120px) {
    header a h2 {
        min-width: 180px;
    }

    header .navigation li a {
        margin-left: 20px;
    }

    .content .textBox {
        min-width: 400px;
    }

    .content .imgBox {
        min-width: 400px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 350px;
    }
}

.detail {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    gap: 10px;
}

.detail p {
    font-weight: 700;
    letter-spacing: 1px;
}

.detail span {
    font-weight: 300;
}

.footer {
    background-color: rgb(255, 255, 255);
    height: 160px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.checked {
    color: rgb(255, 166, 0);
}

.hide-mobile {
    display: block;
}

.hide-pc {
    display: none;
}

@media (max-width: 991px) {
    .hide-mobile {
        display: none;
    }

    .hide-pc {
        display: block;
    }

    header a {
        font-size: .6em;
        padding: 0px;
    }

    .content .textBox h2 {
        color: #D4AF37;
        text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000;
        font-size: 2.5em;
        margin-bottom: 10px;
        line-height: 1.4em;
        font-weight: 600;
        font-family: 'JungleAdventurer', sans-serif;
        margin-top: 30px;
    }

    .content .textBox p {
        color: #ffc300;
        text-shadow: 1px 1px 1px rgb(0, 0, 0),
            /* Subtle shadow for depth */
            0 0 5px #000000,
            /* Outer glow effect */
            0 0 10px #000000,
            /* Outer glow effect */
            0 0 15px #000000;
        /* Stronger outer glow */
        /* Gold color */
        /* Black background with 50% opacity */
        /* Optional: Add padding for better readability */
        border-radius: 5px;
        /* Optional: Add rounded corners */
        width: 90%;
    }

    .content .imgBox {
        width: 100%;
        padding-top: 46vh;
        text-align: center;
        height: 46vh;
    }

    .countdown {
        color: #D4AF37;
        text-shadow: 1px 1px 1px rgb(0, 0, 0),
            /* Subtle shadow for depth */
            0 0 5px #000000,
            /* Outer glow effect */
            0 0 10px #000000,
            /* Outer glow effect */
            0 0 15px #000000;
        font-size: 2em;
    }

    .about {
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        height: 100%;

    }

    .section {
        padding: 0px;
    }

    header {
        padding: 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .navigation li a {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }

    .content {
        flex-direction: column;
    }

    .content .textBox {
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
        min-width: 200px;
        max-width: 100%;
    }

    .content .imgBox {
        padding-bottom: 100px;
        min-width: 200px;
        max-width: 100%;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(./icon/menu.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active {
        position: fixed;
        right: 40px;
        background: url(./icon/close.svg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        color: #D4AF37;
    }

    .component {
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .custom {
        padding-top: 50px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .floral {
        margin-top: 50px;
    }

    .floral-reverse {
        margin-top: 50px;
    }
}

@media (max-width: 600px) {

    #sponsors .list {
        column-count: 2;
        padding: 20px;
    }

    header a {
        font-size: .6em;
        padding: 0px;
    }

    .content .textBox h2 {
        color: #D4AF37;
        text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000;
        font-size: 2.5em;
        margin-bottom: 10px;
        line-height: 1.4em;
        font-weight: 600;
        font-family: 'JungleAdventurer', sans-serif;
        margin-top: 30px;
    }

    .content .textBox p {
        color: #ffc300;
        text-shadow: 1px 1px 1px rgb(0, 0, 0),
            /* Subtle shadow for depth */
            0 0 5px #000000,
            /* Outer glow effect */
            0 0 10px #000000,
            /* Outer glow effect */
            0 0 15px #000000;
        /* Stronger outer glow */
        /* Gold color */
        /* Black background with 50% opacity */
        /* Optional: Add padding for better readability */
        border-radius: 5px;
        /* Optional: Add rounded corners */
        width: 90%;
    }

    .countdown {
        color: #D4AF37;
        text-shadow: 1px 1px 1px rgb(0, 0, 0),
            /* Subtle shadow for depth */
            0 0 5px #000000,
            /* Outer glow effect */
            0 0 10px #000000,
            /* Outer glow effect */
            0 0 15px #000000;
        font-size: 2em;
    }

    .gallery {
        margin-top: 50px;
        column-count: 3;
        /* Number of columns */
        column-gap: 0;
        /* Remove space between columns */
    }



    .textFloral {
        max-width: 450px;
    }

    .imgFloral {
        max-width: 490px;
    }

    .textFloral-reverse {
        max-width: 450px;
    }

    .imgFloral-reverse {
        max-width: 490px;
    }

    .others img {
        max-width: 90vw;
    }

    .others div {
        max-width: 90vw;
    }
}

@media (max-width: 450px) {
    .textFloral {
        max-width: 300px;
    }

    .imgFloral {
        max-width: 340px;
    }

    .textFloral-reverse {
        max-width: 300px;
    }

    .imgFloral-reverse {
        max-width: 340px;
    }
}

@media (max-width: 350px) {
    #sponsors .list {
        column-count: 1;
    }
    header a h2 {
        display: none;
    }

    .textFloral {
        max-width: 200px;
    }

    .imgFloral {
        max-width: 240px;
    }

    .textFloral-reverse {
        max-width: 200px;
    }

    .imgFloral-reverse {
        max-width: 240px;
    }
}